# Project Proposal
### Group 19: Aidan Gallant, Alex Hachey, Cailey Murad, Caroline Ruus

## [Title]

## Introduction
- Provide some relevant background information on the topic so that someone unfamiliar with it will be prepared to understand the rest of your proposal
- Clearly state the question you will try to answer with your project
- Identify and describe the dataset that will be used to answer the question

## Preliminary Exploratory Data Analysis
- Demonstrate that the dataset can be read from the web into R 
- Clean and wrangle your data into a tidy format
- Using only training data, summarize the data in at least one table (this is exploratory data analysis). (An example of a useful table could be one that reports the number of observations in each class, the means of the predictor variables you plan to use in your analysis and how many rows have missing data.)
- Using only training data, visualize the data with at least one plot relevant to the analysis you plan to do (this is exploratory data analysis). (An example of a useful visualization could be one that compares the distributions of each of the predictor variables you plan to use in your analysis.)

In [15]:
library(tidyverse)
library(repr)
library(tidymodels)
options(repr.matrix.max.rows = 6)

Warning message:
“package ‘tidymodels’ was built under R version 4.0.2”
── Attaching packages ────────────────────────────────────── tidymodels 0.1.1 ──

✔ broom     0.7.0      ✔ recipes   0.1.13
✔ dials     0.0.9      ✔ rsample   0.0.7
✔ infer     0.5.4      ✔ tune      0.1.1
✔ modeldata 0.0.2      ✔ workflows 0.2.0
✔ parsnip   0.1.3      ✔ yardstick 0.0.7

Warning message:
“package ‘broom’ was built under R version 4.0.2”
Warning message:
“package ‘dials’ was built under R version 4.0.2”
Warning message:
“package ‘infer’ was built under R version 4.0.3”
Warning message:
“package ‘modeldata’ was built under R version 4.0.1”
Warning message:
“package ‘parsnip’ was built under R version 4.0.2”
Warning message:
“package ‘recipes’ was built under R version 4.0.1”
Warning message:
“package ‘tune’ was built under R version 4.0.2”
Warning message:
“package ‘workflows’ was built under R version 4.0.2”
Warning message:
“package ‘yardstick’ was built under R version 4.0.2”
── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()

In [28]:
#read data (already in tidy format), make into data frame

student <- read_delim("data/student-mat.csv", delim = ";")
student <- student %>%
    as_tibble() %>%
    select (school:absences)
student

Parsed with column specification:
cols(
  .default = col_character(),
  age = col_double(),
  Medu = col_double(),
  Fedu = col_double(),
  traveltime = col_double(),
  studytime = col_double(),
  failures = col_double(),
  famrel = col_double(),
  freetime = col_double(),
  goout = col_double(),
  Dalc = col_double(),
  Walc = col_double(),
  health = col_double(),
  absences = col_double(),
  G1 = col_double(),
  G2 = col_double(),
  G3 = col_double()
)

See spec(...) for full column specifications.

    school sex age address famsize Pstatus Medu Fedu Mjob     Fjob    ⋯ higher
1   GP     F   18  U       GT3     A       4    4    at_home  teacher ⋯ yes
2   GP     F   17  U       GT3     T       1    1    at_home  other   ⋯ yes
3   GP     F   15  U       LE3     T       1    1    at_home  other   ⋯ yes
⋮   ⋮      ⋮   ⋮   ⋮       ⋮       ⋮       ⋮    ⋮    ⋮        ⋮       ⋱ ⋮
393 MS     M   21  R       GT3     T       1    1    other    other   ⋯ yes
394 MS     M   18  R       LE3     T       3    2    services other   ⋯ yes
395 MS     M   19  U       LE3     T       1    1    other    at_home ⋯ yes
    internet romantic famrel freetime goout Dalc Walc health absences
1   no       no       4      3        4     1    1    3       6
2   yes      no       5      3        3     1    1    3       4
3   yes      no       4      3        2     2    3    3      10
⋮   ⋮        ⋮        ⋮      ⋮        ⋮     ⋮    ⋮    ⋮      ⋮
393 no       no       5      5        3     3    3    3      3
394 yes      no       4      4        1     3    4    5      0
395 yes      no       3      2        3     3    3    5      5

In [29]:
# split data into testing and training data

set.seed(3456) 

student_split <- initial_split(student, prop = 0.75, strata = studytime)  
student_train <- training(student_split)
student_test <- testing(student_split)

student_train

    school sex age address famsize Pstatus Medu Fedu Mjob     Fjob     ⋯ higher
1   GP     F   18  U       GT3     A       4    4    at_home  teacher  ⋯ yes
2   GP     F   17  U       GT3     T       1    1    at_home  other    ⋯ yes
3   GP     F   15  U       LE3     T       1    1    at_home  other    ⋯ yes
⋮   ⋮      ⋮   ⋮   ⋮       ⋮       ⋮       ⋮    ⋮    ⋮        ⋮        ⋱ ⋮
295 MS     M   17  U       LE3     T       3    1    services services ⋯ yes
296 MS     M   21  R       GT3     T       1    1    other    other    ⋯ yes
297 MS     M   18  R       LE3     T       3    2    services other    ⋯ yes
    internet romantic famrel freetime goout Dalc Walc health absences
1   no       no       4      3        4     1    1    3       6
2   yes      no       5      3        3     1    1    3       4
3   yes      no       4      3        2     2    3    3      10
⋮   ⋮        ⋮        ⋮      ⋮        ⋮     ⋮    ⋮    ⋮      ⋮
295 yes      no       2      4        5     3    4    2      3
296 no       no       5      5        3     3    3    3      3
297 yes      no       4      4        1     3    4    5      0

In [30]:
set.seed(2020) # DO NOT REMOVE

student_recipe <- recipe(studytime ~ traveltime + freetime + absences, data = student_train) %>%
    step_scale(all_predictors()) %>%
    step_center (all_predictors ())

student_recipe

Data Recipe

Inputs:

      role #variables
   outcome          1
 predictor          3

Operations:

Scaling for all_predictors()
Centering for all_predictors()

## Methods
- Explain how you will conduct either your data analysis and which variables/columns you will use.
  (Note - you do not need to use all variables/columns that exist in the raw data set. In fact, that's often not a good    idea. For each variable think: is this a useful variable for prediction?)
- Describe at least one way that you will visualize the results

## Expected Outcomes and Significance
- What do you expect to find?
- What impact could such findings have?
- What future questions could this lead to?